
md-toolbar.header
  h2
    width: 420px
    span
      font-family: sans-serif
      color: rgba(0, 0, 0, 0.54)
      font-weight: bold
      font-size: 25px


body
  .main
    .search-panel
      background: rgba(232, 229, 229, 0.54)
      margin: 0 auto
      &.records
        padding-left:38px
      &.map
        padding: 0!important
        .map-outer-contaimer, .map-container
          height: 500px
          width: 100%
          padding: 0
          input
            background-color: #fff
            font-family: Roboto
            font-size: 15px
            font-weight: 300
            margin-left: 12px
            padding: 0 11px 0 13px
            text-overflow: ellipsis
            width: 400px
            margin-top: 25px
            height: 35px
      md-input-container
        margin-left: 2px
        button.search-btn
          color: rgba(0, 0, 0, 0.54)
